<div class="container navless-container">
  <%= render partial: 'breadcrumb' %>
  <h3>New HTTP Header</h3>
  <div class="col-md-6">
    <%= simple_form_for [@check, @http_header], url: server_check_http_headers_path do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <div id="form_submit">
          <%= f.button :submit, value: 'Save' %>
        </div>
    <% end %>
  </div>
</div>