<div class="container navless-container">
  <h3>Add new satellite</h3>
  <div class="col-md-6">
    <%= simple_form_for @satellite do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <%= f.button :submit %>
    <% end %>
  </div>
</div>