<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"<%= raw('class="active"') if @container_active == 'rabbitmq' %>><%= link_to 'RabbitMQ', :rabbitmq_settings %></li>
  <li role="presentation"<%= raw('class="active"') if @container_active == 'turbosms' %>><%= link_to 'TurboSMS', :turbosms_settings %></li>
</ul>