<div class="container navless-container">
  <h3>Edit check</h3>
  <div class="col-md-6">
    <%= simple_form_for [@server, @check], url: @action_url do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <div id="form_submit">
          <%= f.button :submit, value: 'Update check' %>
        </div>
    <% end %>
  </div>
</div>