<!DOCTYPE html>
<html>
<head>
  <title>Captainfailure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="/vendor/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<%= render partial: 'shared/navbar' %>


<%= yield %>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
</body>
</html>
